#title1{
    color: cadetblue;
}
hr{
    color: black;
}
#text1{
    color: darkgray;
}
P{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}